body {
    margin: 20px;
    text-align: center;
}
.link {
    font-family: 'Slabo 27px', serif;
    color:#FFF;
    text-decoration: none;
    font-size:10vw;
    display:block;
    text-align:center;
    margin:30vh auto 0px auto;
}
.slogan {
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    font-size:17px;
    background: #000;
    padding: 5px 20px;
    display: block;
    text-align: center;
    display: inline-block;
}
.bg-shade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    opacity: 0.5;
}
.bg-credits {
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 500px){
    .link {
        font-size:16vw;
    }
    .slogan-firstline {
        display: block;
    }
    .github-fork-ribbon {
        zoom: 0.7;
    }
}